/* App.css */

/* General page styling */
body {
  font-family: Arial, sans-serif;
  background-color: #040c07;
  margin: 0;
  padding: 0;
}

/* Grid container */
.grid {
  display: grid;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

/* Card styling */
.card {
  background: rgb(209, 9, 9);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(185, 45, 45, 0.1);
  padding: 16px;
  text-align: center;
}

/* Image styling */
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Button styling */
button {
  background-color: #3b82f6;
  color: rgb(252, 252, 252);
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #d1d9ea;
}
